<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.category %></p>

<div class="card w-50">
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.address %></p>
</div>

<%= link_to 'Back', restaurants_path %>
