<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.category %></p>

<div class="card w-50 my-3">
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.address %></p>
</div>

<hr>

  <h3>New Review for <%= @restaurant.name %></h3>
  <%= render "review_form", restaurant: @restaurant, review: @review %>

<hr>

<h3> <%= 'Review'.pluralize(@restaurant.reviews.count) %> for <%= @restaurant.name %> </h3>

<% @restaurant.reviews.each do |review| %>
  <div class="card p-2 my-2">
    <p class="m-0"> <% review.rating.times do%>
        ⭑
        <% end %>
    </p>
    <p class="m-0"> <%= review.content %> </p>
  </div>
<% end %>
